
/* VR EMBED STYLE */

/* Prevents a-frame from hiding rest of page and disable scrolling */
body.a-body {
  height: auto;
  overflow: auto;
}
html.a-html {
  height: auto;
  overflow: auto;
  position: static;
background-color:#000000;
}

/* Make vr viewer fill bg behind elements */
.vr-background {
  overflow: hidden;
}

.vr-container {
  height: 100vh; 
  .vr-overlay-content {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 200px;
    pointer-events: none; /* enables interactions on overlay */
 
}
	
  .action {
    pointer-events: initial; /* enables click */
  }
}


/* GENERAL STYLE */

body {
background-color:#000000;
  font-size: 16px;
  font-family: Times New Roman;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #ffffff;
}

header {
background-color: #000000;
}

header h1 a {
font-size: 70px;
  color: transparent;
  text-transform: uppercase;
  font-size: 100px;
  text-align: center;
  letter-spacing: 1px;

   -webkit-text-stroke: 2px #996633;
  

header h1 {
  font-size: 70px;
  color: transparent;
  text-transform: uppercase;
  font-size: 100px;
  text-align: center;
  letter-spacing: 1px;

   -webkit-text-stroke: 2px #996633;
  
}
