<style>
	//
// -- Styles for the VR Embed

// Without these next 2 rules, a-frame will hide the rest of the page and disable scrolling
body.a-body {
  height: auto;
  overflow: auto;
}
html.a-html {
  height: auto;
  overflow: auto;
  position: static;
}

// make the viewer fill the background behind the elements instead of over it
.vr-background {
  overflow: hidden;
}

// for the html element inside which you are adding the a-frame embed code
.vr-container {
  height: 100vh; // I want the embed to be full-height. You can give any value you want here.
  .vr-overlay-content {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 200px;
    pointer-events: none; // this is important as it enables your interactions on the overlay to be detected by a-frame
  }
  .action {
    pointer-events: initial; // enables click on the button
  }
}

//


body {
  font-size: 16px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: #2B3A42;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
</style>
